In [2]:
import pandas as pd

C:\Users\woosh\AppData\Local\Temp\ipykernel_10792\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_csv('melb_data.csv')

              Price      Postcode      Landsize
count  1.358000e+04  13580.000000  13580.000000
mean   1.075684e+06   3105.301915    558.416127