# Lab 1: Basic Python Programming

## 1. Basic usage

> John Doe is a 29 years-old system engineer who earns ฿41500.00 a month.

Create and assign variables to store this person's information (name, age, position and salary).

In [16]:
# Write your code here
name = "John Doe"
age = 29
position = "system engineer"
salary = 41500.00

What is the type of each variables?

In [17]:
# Write your code here
print("name is "+str(type(name))+"\nage is "+str(type(age))+"\nposition is "+str(type(position))+"\nsalary is " + str(type(salary)))

name is <class 'str'>
age is <class 'int'>
position is <class 'str'>
salary is <class 'float'>

The manager decides to give John a 7% raise. Update his salary.

In [18]:
# Write your code here
salary *= 1.07  
salary

44405.0

Prints his information again with his new salary.

In [19]:
# Write your code here
print(name,age,position,salary)

John Doe 29 system engineer 44405.0

Now, he decides to resign. Delete his information from the system.

In [22]:
# Write your code here
del name,age,position,salary

NameError: name 'name' is not defined

## 2. Variable and Expression

**2.1** Write a code to convert temperature unit from celcius to other units

In [23]:
C = 34.5

**Fahrenheit**  
#### $\frac{C}{5} = \frac{F-32}{9}$

In [24]:
F = (C*9/5) + 32
F

94.1

**Kelvin**  
$K = C + 273.15$

In [25]:
K = C+273.15
K

307.65

**Rømer**  
#### $Ro = \frac{C \times 21}{40} + 7.5$

In [26]:
Ro = (C*21/40) + 7.5
Ro

25.6125

## 3. Multi-item variables
#### List

In [38]:
names = ['Thomas', 'Kate', 'Mike', 'Amelia', 'James', 'Megan']

Create new variable call `new_name` which takes input name of the user.

In [39]:
new_name = input('Enter your name: ')

Insert `new_name` into `names` list.

In [40]:
# Write your code here
names.append(new_name)
names

['Thomas', 'Kate', 'Mike', 'Amelia', 'James', 'Megan', 'Wut']

Select your name from the list

In [41]:
# Write your code here
names[-1]

'Wut'

Merge `another_names` into `names`.

In [31]:
another_names = ['Peter', 'Steve', 'Sam', 'Charlotte']

In [42]:
# Write your code here
names.extend(another_names)
names

['Thomas',
 'Kate',
 'Mike',
 'Amelia',
 'James',
 'Megan',
 'Wut',
 'Peter',
 'Steve',
 'Sam',
 'Charlotte']

Change `Amelia`'s name to `Amy`

In [43]:
# Write your code here
index = names.index("Amelia")
names[index] = "Amy"
names

['Thomas',
 'Kate',
 'Mike',
 'Amy',
 'James',
 'Megan',
 'Wut',
 'Peter',
 'Steve',
 'Sam',
 'Charlotte']

#### Dictionary

In [44]:
capital_city = {'England':'London',
                'Spain':'Madrid',
                'Japan':'Tokyo',
                'Australia':'Sydney',
                'Germany':'Berlin',
               }

Add a record `Thailand` and it's capital city to this dictionary

In [45]:
# Write your code here
capital_city["Thailand"] = "Bangkok"
capital_city

{'England': 'London',
 'Spain': 'Madrid',
 'Japan': 'Tokyo',
 'Australia': 'Sydney',
 'Germany': 'Berlin',
 'Thailand': 'Bangkok'}

You may notice that the capital city of `Australia` is wrong. It should be `Canberra`. Correct this mistake.

In [46]:
# Write your code here
capital_city["Australia"] = "Canberra"
capital_city

{'England': 'London',
 'Spain': 'Madrid',
 'Japan': 'Tokyo',
 'Australia': 'Canberra',
 'Germany': 'Berlin',
 'Thailand': 'Bangkok'}

## 4. Control Flows and conditional statements

### if...elif...else

**1.** Define a variable to get input age from user.

In [47]:
age = int(input("Enter your age: "))
age

20

Write a series of if...elif...else statement that categorize input age into following groups:
> Babies: 0-2 years old  
Children: 3-12 years old  
Teenager: 13-19 years old  
Young Adults: 20-29 years old  
Middle-aged Adults: 30-45 years old  
Old Adult: 46-59 years old  
Elderly: Above 60 years old

In [49]:
# Write your code here
if age >= 60 :
    print("Elderly")
elif age > 45:
    print("Old Adult")
elif age > 29:
    print("Middle-aged")
elif age > 19:
    print("Young Adults")
elif age > 12:
    print("Teenager")
elif age > 2:
    print("Children")
else :
    print("Babies")

Young Adults

### Looping

**1.** Write a code to create a multiplication table of an input number (multiplier from 1-12).

In [50]:
# Write your code here
num = int(input("Enter the number: "))
for i in range(1,13):
    print(str(num) + " x " + str(i) + " = " + str(num*i))

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108

**2.** Write a code that construct the following pattern.

input: 5  
output: 
*  
**  
***  
****  
*****

In [51]:
# Write your code here
level = int(input("Enter the level of the stars: "))
print("input: "+str(level))
print("output: ")
for i in range(1,level+1):
    print("*"*i)

input: 8
output:
*
**
***
****
*****
******
*******
********

**3.** Creates a loop to print `I love <programming language>!` except for Assembly, print `Not you, Assembly`.

In [52]:
languages = ['C/C++', 'Python', 'R', 'Java', 'SQLs', 'Assembly', 'Go', 'Rust', 'Kotlin']

In [53]:
# Write your code here
for language in languages:
    if language=="Assembly":
        print("Not you, Assembly")
    else :
        print("I love " + str(language) + "!")

I love C/C++!
I love Python!
I love R!
I love Java!
I love SQLs!
Not you, Assembly
I love Go!
I love Rust!
I love Kotlin!

**4.** Write a code to print every number from 1 to 25 except the one that is divisible by 3.

In [54]:
# Write your code here
for i in range (1,26):
    if i%3==0:
        continue
    else:
        print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25

**5.** Write a code that finds the number that is divisible by 7 in a given range.

In [55]:
lower_bound = 1
upper_bound = 100
divisor = 7

result = []

In [56]:
# Write your code here
for i in range(lower_bound,upper_bound):
    if i%7 == 0:
        result.append(i)
result

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

**6.** Write a code that construct the following pattern.

In [39]:
input: 5  
output:  
*#####
**####
***###
****##
*****#

input: 10  
output:  
*##########  
**#########  
***########  
****#######  
*****######  
******#####  
*******####  
********###  
*********##  
**********#

SyntaxError: invalid syntax (258756908.py, line 2)

In [62]:
# Write your code here
level = int(input("Enter the level of the stars: "))
print("input: "+str(level))
print("output: ")
for i in range(1,level+1):
    print("*"*i,"#"*(level-i+1),sep='')

input: 10
output:
*##########
**#########
***########
****#######
*****######
******#####
*******####
********###
*********##
**********#

## 5. Functions

**1.** Define a function `average` that takes arbitrary number of arguments and calculate the mean of input.

In [63]:
# Write your code here
def average (*arg):
    sum = 0
    for num in arg:
        sum += num
    return sum/len(arg)
average(1,2,3,4,5)

3.0

**2.** Define a function `sumproduct` that takes 2 equal-sized lists and calculate sum of the products of two lists.  
It should look like this:  
> sumproduct([1,2,3],[4,5,6])  
output: 32

(1 * 4) + (2 * 5) + (3 * 6) = 32

In [64]:
# Write your code here
def sumproduct (lst1, lst2):
    sum = 0
    for index in range(len(lst1)):
        sum += lst1[index]*lst2[index]
    return sum
sumproduct([1,2,3],[4,5,6])

32

**3.** Define a function `fibonacci` that returns Fibonacci number at `n` position.  
A Fibonacci number at position `n` is defined by `F(n) = F(n-1) + F(n-2)`. Where `F(0) = 0` and `F(1) = 1`  
**Example:** `0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ...`

In [66]:
# Write your code here
def fibonacci (n):
    if n>=2:
        return fibonacci(n-1)+fibonacci(n-2)
    elif n==0 :
        return 0
    else:
        return 1
fibonacci(12)

144

**4.** Define a function `is_palindrome` that takes input string and check whether it is a palindrome or not.  
A string is a palindrome if it reads the same forward and backwards.  
**Example:** `madam`, `race car`, `borrow or rob`, `amore roma`, `never odd or even`  
Do not consider whitespace. Use `str.replace(' ', '')` to remove whitespace from your string.  
Case-insensitive. You can turn everything into lower or uppercase using `str.lower()` or `str.upper()`  
**Hint:** you can reverse the string using `[::-1]` slice.

In [67]:
str1 = "radar" # palindrome
str2 = "rotator" # palindrome
str3 = "lemon" # not palindrome

In [69]:
# Write your code here
def is_palindrome (str1):
    str2 = str1[::-1].lower().replace(' ','')
    if str1==str2:
        return "palindrome"
    else:
        return "not palindrome"
print(str(str1)+ " is " +str(is_palindrome(str1)))
print(str(str2)+ " is " +str(is_palindrome(str2)))
print(str(str3)+ " is " +str(is_palindrome(str3)))

radar is palindrome
rotator is palindrome
lemon is not palindrome

**5.** An `anagram` is a word or phrase formed by rearranging the letters of a different word or phrase.  
Define a function `is_anagram` that takes in 2 strings and check whether it is possible to compose a second string using letters in the first string or not.  
**Example:** `Tom Marrvolo Riddle` can be rearraged into `I am Lord Voldermort`  
`Meaning of Life` can be rearranged into `Engine of a Film`  
Do not consider whitespace. Use `str.replace(' ', '')` to remove whitespace from your string.  
Case-insensitive. You can turn everything into lower or uppercase using `str.lower()` or `str.upper()`  
Returns only `True` of `False`

In [71]:
# Write your code here
str1 = "Meaning of Life"
str2 = "Engine of a Film"
def is_anagram (str1, str2):
    str1 = str1.lower().replace(" ",'')
    str2 = str2.lower().replace(" ",'')
    str1 = sorted(str1)
    str2 = sorted(str2)
    # print(str1,str2)
    return True if str1==str2 else False
is_anagram(str1,str2)

True

---