# Basic Python

## Variable

### Number Variable

In [8]:
num = 100 #integer variable
num2 = 12.5 #float variable
print(num)
print(num2)

print(num + num2)   #addition
print(num - num2)   #subtraction
print(num * num2)   #multiplication
print( num / num2)  #division

100
12.5
112.5
87.5
1250.0
8.0

### String Variable

In [9]:
#string variable
string = "Atom Fasai"
print(string) #print complete string

print("Hello " + string)    #print concatenated string
print(string[0])            #print first character of the string
print(string[:4])           #print first to 4th character of the string
print(string[5:])           #print 6th to last character of the string
print(string[1:4])          #print 2nd to 4th character of the string
print(string * 2)           #print string 2 time

Atom Fasai
Hello Atom Fasai
A
Atom
Fasai
tom
Atom FasaiAtom Fasai

### Boolean Variable

In [10]:
#boolean variable
boolean = True
boolean2 = False

print(boolean)              #print boolean variable
print(not boolean)          #print opposite of boolean variable
print(boolean and boolean2) #print boolean and boolean2
print(boolean or boolean2)  #print boolean or boolean2

True
False
False
True

### List Variable

In [11]:
#list variable
list = ["Atom",20,123.23,40,50]
another_list = ["Fasai",60]

print(list)                 #print complete list
print(list[0])              #print first element of the list
print(list[1:3])            #print 2nd to 3rd element of the list
print(list[2:])             #print 3rd to last element of the list
print(another_list)         #print complete another_list
print(another_list * 2)     #print another_list two times
print(list + another_list)  #print concatenated list

list[0] = "AtomFasai"       #change first element of the list
print(list)                 #print complete list

['Atom', 20, 123.23, 40, 50]
Atom
[20, 123.23]
[123.23, 40, 50]
['Fasai', 60]
['Fasai', 60, 'Fasai', 60]
['Atom', 20, 123.23, 40, 50, 'Fasai', 60]
['AtomFasai', 20, 123.23, 40, 50]

### Tuple Variable

In [12]:
#tuple variable
tuple = ("Atom",20,123.23,40,50)
another_tuple = ("Fasai",60)

print(tuple)                    #print complete tuple
print(tuple[0])                 #print first element of the tuple
print(tuple[1:3])               #print 2nd to 3rd element of the tuple
print(tuple[2:])                #print 3rd to last element of the tuple
print(tuple * 2)                #print tuple two times
print(tuple + another_tuple)    #print concatenated tuple

('Atom', 20, 123.23, 40, 50)
Atom
(20, 123.23)
(123.23, 40, 50)
('Atom', 20, 123.23, 40, 50, 'Atom', 20, 123.23, 40, 50)
('Atom', 20, 123.23, 40, 50, 'Fasai', 60)

In [13]:
tuple[0] = "AtomFasai"          #trying to change first element of the tuple but it cannot be changed so it gives error

TypeError: 'tuple' object does not support item assignment

### Dictionary Variable

In [14]:
#dictionary variable
dictionary = {"name":"Chanon","age":21}
another_dictionary = {}
another_dictionary["name"] = "AtomFasai"
another_dictionary["age"] = 21

print(dictionary)                  #print complete dictionary
print(dictionary["name"])          #print value for specific key
print(dictionary.keys())           #print all the keys
print(dictionary.values())         #print all the values
print(dictionary.items())          #print all the items
print(another_dictionary)          #print complete another_dictionary

{'name': 'Chanon', 'age': 21}
Chanon
dict_keys(['name', 'age'])
dict_values(['Chanon', 21])
dict_items([('name', 'Chanon'), ('age', 21)])
{'name': 'AtomFasai', 'age': 21}

# Control Flow

### IF ... ELIF ... ELSE

In [15]:
number = 123
number2 = 34

if number > number2:
    print("number is greater than number2")
elif number < number2:
    print("number is less than number2")
else:
    print("number is equal to number2")

number is greater thanu number2

## Loop

### For Loop

In [16]:
#for loops
for num in range(0,10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [17]:
#for loop with list

list = ["Atom","Fasai","Chanon","Khanijoh"]

for name in list:
    print(name)

Atom
Fasai
Chanon
Khanijoh

In [18]:
#continue in for loop

list = [1,23,7,"hello",True,1123,43,23,12]

for element in list:
    if type(element) != int:
        continue   
    print(element)

1
23
7
1123
43
23
12

In [19]:
#break in for loop

list = [1,23,7,"hello",True,1123,43,23,12]

for element in list:
    if type(element) != int:
        break
    print(element)

1
23
7

### While loop

In [20]:
#while loop

list = ["Atom","Fasai","Chanon","Khanijoh"]
count = 0

while count < len(list):
    print(list[count])
    count += 1

Atom
Fasai
Chanon
Khanijoh

In [21]:
#continue in while loop

list = [1,23,7,"hello",True,1123,43,23,12]
count = 0

while count < len(list):
    if type(list[count]) != int:
        count += 1
        continue
    print(list[count])
    count += 1

1
23
7
1123
43
23
12

In [22]:
#break in while loop

list = [1,23,7,"hello",True,1123,43,23,12]
count = 0

while count < len(list):
    if type(list[count]) != int:
        break
    print(list[count])
    count += 1

1
23
7

## Function

In [23]:
#define function
def function_name (arg1, arg2):
    return arg1 + arg2

#calling function
function_name(1,2)

3

In [26]:
#define function with default argument
def function_with_default_arg(arg1, arg2 = 10, arg3 = 20 , arg4 = 30):
    return arg1 + arg2 + arg3 + arg4

result_1 = function_with_default_arg(1)
result_2 = function_with_default_arg(1,2,5)
result_3 = function_with_default_arg(1,2,5,10)

print(result_1)
print(result_2)
print(result_3)

61
38
18

In [27]:
#multiple agument
def function_with_multiple_arg(*args):
    print(args)
    print(type(args))
    sum = 0
    for num in args:
        sum += num
        
    return sum

function_with_multiple_arg(1,2,3,4,5)

(1, 2, 3, 4, 5)
<class 'tuple'>

15

In [29]:
#lambda function
lambda_function = lambda arg1, arg2: arg1 + arg2

print(lambda_function(1,2))

3

# Opening Closing File

## Text File

In [30]:
with open("test.txt","w") as file:
    file.write("Hello World")

In [31]:
with open("test.txt","r") as file:
    print(file.read())

Hello World

## CSV File

In [32]:
import csv

with open("test.csv","w",newline='') as file:
        writer = csv.writer(file)
        writer.writerow(["Name","Surname"])
        writer.writerow(["Atom","Fasai"])
        writer.writerow(["Chanon","Khanijoh"])

In [33]:
import csv 

with open("test.csv","r") as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Name', 'Surname']
['Atom', 'Fasai']
['Chanon', 'Khanijoh']