# Lab 3: Introducing Classification

Objectives:
- To gain hands-on experience classifying small dataset
- To implement concepts related to Decision Tree classifier (i.e. Entropy, Information Gain), along with the Decision Tree algorithm

In [121]:
import pandas as pd
import math
# Read the data
df = pd.read_csv('toy_data.csv')
df

      age  income student credit rating buys computer
0    <=30    high      no          fair            no
1    <=30    high      no     excellent            no
2   31-40    high      no          fair           yes
3     >40  medium      no          fair           yes
4     >40     low     yes          fair           yes
5     >40     low     yes     excellent            no
6   31-40     low     yes     excellent           yes
7    <=30  medium      no          fair            no
8    <=30     low     yes          fair           yes
9     >40  medium     yes          fair           yes
10   <=30  medium     yes     excellent           yes
11  31-40  medium      no     excellent           yes
12  31-40    high     yes          fair           yes
13    >40  medium      no     excellent            no

In [122]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            14 non-null     object
 1   income         14 non-null     object
 2   student        14 non-null     object
 3   credit rating  14 non-null     object
 4   buys computer  14 non-null     object
dtypes: object(5)
memory usage: 692.0+ bytes
None

# Calculate Gain

### entropy(t)

In [168]:
entropy_t = 0
n=df.shape[0]
countt = df['buys computer'].value_counts()
entropy_t = -countt['yes']*math.log2(countt['yes']/n)/n - countt['no']*math.log2(countt['no']/n)/n
print(entropy_t)

0.940285958670631

### entropy(i)

In [183]:
def entropy (df, target_att):
    ans = 0
    # print(f"n = {n}")
    for data in df[target_att].unique():
        # print("data",data)
        n_i = df[(df[target_att] == data)].shape[0]
        # print("size",n_i)
        p_jyes = df[(df[target_att] == data) & (df['buys computer'] == "yes")].shape[0]/n_i
        # print(f"p(j=yes|{data})={p_jyes}")
        p_jno = df[(df[target_att] == data) & (df['buys computer'] == "no")].shape[0]/n_i
        # print(f"p(j=no|{data})={p_jno}")
        if (p_jyes == 0 or p_jno == 0):
            log_j = 0
        else:
            log_j = -(p_jyes * math.log2(p_jyes) + p_jno * math.log2(p_jno))
        # print(f"log(j|{data})={log_j}")
        ans += (n_i*log_j/n)
        # print("\n")
    return ans
entropy(df,"age")

0.6935361388961919

### Gain fn

In [184]:
def gain_fn (target_att):
    return entropy_t - entropy(df,target_att)

# Calculation

In [185]:
gain_fn("age")

0.2467498197744391

In [186]:
gain_fn("income")

0.029222565658954758

In [187]:
gain_fn("student")

0.15183550136234147

In [188]:
gain_fn("credit rating")

0.04812703040826938